<!DOCTYPE html>
<head>
    <title>Decryptor</title>
</head>
<body>
    <h1>Welcome</h1>
    <h3>Please input your encrypted string to decrypt it:</h3>
    <form action="/enc" method="POST" autocomplete="off">
        <input type="password" placeholder="Password" name="passw" required></input>
        <input type="text" placeholder="Encrypt a Value" name="enc" required></input>
        <button type="submit">decrypt</button>
        <h4>Message is: {{ message }} </h4>
    </form>
    <script>
        if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
        }
    </script>
</body>